<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                            <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
                           <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>Conociendo Ushuaia con Crazy Adventure</title>
  </head>

  <body class="body">
                            <!-- NAV -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="../assets/img/logo.png" class="logo" alt="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" href="../index.html">Inicio <span class="sr-only"></span></a>
            <a class="nav-link" href="alojamiento.html">Alojamiento</a>
            <a class="nav-link" href="#">Excursiones</a>            
            <a class="nav-link" href="quienessomos.html">¿Quiénes somos?</a>
            <a class="nav-link" href="contacto.html">Contacto</a>
         </div>
        </div>
      </nav>
    </div>
  </div>
</div>

                            <!-- CONTENIDO -->
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <h1 class="titulo1">Excursiones</h1>
      </div>
    </div>

 <div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card card2">
      <img src="../assets/img/parque nacional verano.jfif" alt="parqueverano" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Parque Nacional Verano</h5>
        <p class="card-text">Conoce el Parque Nacional Tierra del Fuego, ubicado cerca de la ciudad de Ushuaia. ¡Si te gusta estar en contaco con la naturaleza este bosque patagónico es para ti!</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card card3">
      <img src="../assets/img/trenfindelmundo.jfif" alt="tren" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Tren Fin del Mundo</h5>
        <p class="card-text">El tren del fin del Mundo revive los últimos 7km del antiguo tren de los presos. A bordo del tren podrá escuchar la historia mientras disfruta de los encantados paisajes.</p>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card card2">
      <img src="../assets/img/950x696 (1).jfif" alt="navegacion" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Navegación por el Canal de Beagle</h5>
        <p class="card-text">Recorrido en catamarán en donde se visitan pequeñas islas en las que habitan diversas especies de aves y lobos marinos. Luego de ver los animales el capitán nos llevara a conocer el faro Les Eclaireurs, menos conocido com el faro del fin del mundo.</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card card3">
      <img src="../assets/img/Parque nacional invierno.jfif" alt="parqueinverno" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Parque Nacional Invierno</h5>
        <p class="card-text">Con bosques subantárticos al rededor y la costa marina del Canal Beagle, descubriremos los lugares más hermosos. Uno de ellos es el lago Acigami/Roca de origen glaciar.</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card card2">
      <img src="../assets/img/ski cerro castor.jpg" alt="ski" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Ski en el Cerro Castor</h5>
        <p class="card-text">Ubicado en Ushuaia, es el centro de ski más nuevo del país, tiene excelente nieve y una de las temporadas más largas de Argentina. Cerro Castor recibe esquiadores de todo el mundo, ¡unite a la aventura!</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card card3">
      <img src="../assets/img/caminata nocturna.jfif" alt="caminatanocturna" class="card-img-top img-fluid">
      <div class="card-body">
        <h5 class="card-title">Caminata Nocturna con fuego</h5>
        <p class="card-text">Iniciará la caminata de 30 minutos aproximados con raquetas de nieve, cruzando el valle en medio de la noche invernal. Un camino de antorchas le indicará el ingreso al bosque hasta llegar a la choza, en donde nos esperará el cocinero con la comida lista, el vino caliente y el café del hachero. Finalmente el regreso será en trineo tirado por Huskies.</p>
      </div>
    </div>
  </div>
  
</div>

                            <!-- FOOTER -->
      <div class="container-fluid container-footer">
        <footer class="row footerBg">
          <div class="col-lg-4 col-xs-12">
            <h3>Facebook</h3>
          </div>
          <div class="col-lg-4 col-xs-12">
            <h3>Twitter</h3>
          </div>
          <div class="col-lg-4 col-xs-12">
            <h3>Instagram</h3>
          </div>
          </div>
        </div>
      </div>

                           <!-- JSS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script> -->
   <script src="../assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>